extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}


//- 1. extends layout: Указывает, что данный шаблон также расширяет шаблон layout.
//- 2. block content: Определяет блок контента, в который будет вставлен контент из этого шаблона.
//- 3. h1= message: Отображает заголовок h1 с текстом, который берется из переменной message. Это вероятно сообщение об ошибке.
//- 4. h2= error.status: Отображает заголовок h2 с текстом, который берется из переменной error.status. Вероятно это статус ошибки, например 404, 500 и т. д.
//- 5. pre #{error.stack}: Элемент pre используется для отображения предварительно отформатированного текста. В данном случае, выводится стек вызовов ошибки, который берется из переменной error.stack.
//- Этот шаблон предназначен для отображения информации об ошибке на странице, включая текст сообщения об ошибке, статус ошибки и стек вызовов ошибки.